body
{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	background:#C1CDC1
}

#menu 
{
    padding:22px;
    margin:46px;
    background-color:#E0EEE0;
}

.footer 
{
    position:absolute;
    bottom:0;
    width:100%;
}